# ===============================
# Core
# ===============================
numpy
pandas

# ===============================
# Deep Learning
# ===============================
tensorflow

# ===============================
# Streamlit
# ===============================
streamlit

# ===============================
# Image Processing
# ===============================
Pillow
opencv-python-headless

# ===============================
# Visualization
# ===============================
matplotlib
seaborn

# ===============================
# Utilities
# ===============================
scikit-learn
tqdm
